<!DOCTYPE html>
<html>
<head>
    <title>Medical Monitoring Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="app">

    <!-- Sidebar -->
   <div class="sidebar">
    <h2>Menu</h2>

    <div class="nav">
        <a href="/" class="nav-item">Dashboard</a>
        <a href="/charts" class="nav-item">Charts</a>
         <a href="/alerts" class="nav-item">Alerts</a>

    </div>

    <h2 style="margin-top:30px;">User Profile</h2>

    <div class="profile-item">
        <label>Name</label>
        <p id="name">John Doe</p>
    </div>

    <div class="profile-item">
        <label>Age</label>
        <p id="age">--</p>
    </div>

    <div class="profile-item">
        <label>Gender</label>
        <p id="gender">--</p>
    </div>

    <div class="profile-item">
        <label>Smoking</label>
        <p id="smoking">--</p>
    </div>

    <div class="profile-item">
        <label>Hypertension</label>
        <p id="hypertension">--</p>
    </div>
</div>

    <!-- Main Dashboard -->
    <div class="main">

        <div class="top-bar">
            <h1>🩺 Secure Medical Monitoring System</h1>
            <button id="themeToggle" class="toggle-btn">
                🌙 Dark Mode
            </button>
        </div>

        <div class="grid">

            <div class="card">
                <h2>Access Status</h2>
                <p id="access">--</p>
            </div>

            <div class="card">
                <h2>Medical Alert</h2>
                <p id="alert">--</p>
            </div>

            <div class="card">
                <h2>Heart Rate</h2>
                <p class="vital"><span id="hr">--</span> bpm</p>
            </div>

            <div class="card">
                <h2>SpO₂</h2>
                <p class="vital"><span id="spo2">--</span> %</p>
            </div>

            <div class="card">
                <h2>Body Temperature</h2>
                <p class="vital"><span id="temp">--</span> °C</p>
            </div>

            <div class="card">
                <h2>Risk Level</h2>
                <p id="risk" class="vital">--</p>
            </div>

        </div>
    </div>

</div>

<script src="/static/script.js"></script>
</body>
</html>
